.leaflet-popup {
  max-width: none; /* Allow custom width for popups */
  min-width: 300px; /* Optional: set a minimum width */
}

.leaflet-popup-content {
  max-width: none; /* Allow custom width for popups */
  padding: 0; /* Remove padding to allow custom popup styles */
}
.leaflet-popup-content-wrapper {
  max-width: none; /* Allow custom width for popups */
}
