.custom-popup {
  min-width: 33vw; /* Minimum width is one-third of the viewport width */
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

p {
  margin: 0 0 20px;
  color: #666;
}

.file-input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.carousel {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.carousel-image {
  min-width: 200px; 
  max-width: 400px;
  min-height: 200px; 
  max-height: 600px;
  object-fit: contain; /* Use contain to ensure the entire image is visible */
  border-radius: 10px;
  margin: 0 10px;
}

button {
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #007bb5;
}
