/* Default layout: Image and text are side-by-side */
.card-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Stacked layout for small screens */
.card-row.stacked {
  flex-direction: column;
}

.card-row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 767px) {
  .card-row {
    flex-direction: column;
  }

  .floating-arrow {
    display: block;
  }
}
